<div class="panel panel-default">
  <div class="panel-heading">Products</div>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Inventory</th>
      <th>Sales</th>
      <th>Vendor</th>
      <th>Last Updated</th>
    </thead>
    <tbody>
    <% @products.each do |item| %>
        <tr>
          <td><%= item["title"] %></td>
          <td><%= item["product_type"] %></td>
          <td><a href="/products/<%= item["handle"] %>/inventory/sku"><%= item["total_inventory"] %></a></td>
          <td><%= item["total_sales"] %></td>
          <td><%= item["vendor"] %></td>
          <td><%= item["product_updated_at"].strftime("%m/%d/%Y") %></a>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>