<%= javascript_tag do %>
    products = <%= @products.to_json.csv_safe %>;
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">Products</div>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>SKU</th>
      <th>Price</th>
      <th><a href="/collections/<%= params[:collection] %>/products/inventory">Inventory</a></th>
      <th><a href="/collections/<%= params[:collection] %>/products/sales">Sales</a></th>
      <th>Vendor</th>
      <th>Updated At</th>
      <th>Created At</th>
    </thead>
    <tbody>
    <% @products.each do |item| %>
        <tr>
          <td><a href="/products/<%= item["handle"] %>/inventory"><%= item["title"] %></a> - <a href="http://www.fashionnova.com/products/<%= item["handle"] %>" target="_blank">View on Store</a></td>
          <td><%= item["product_type"] %></td>
          <td><%= item.variants[0]["sku"] %></td>
          <td><%= item.variants[0]["price"] %></td>
          <td><a href="/products/<%= item["handle"] %>/inventory/sku"><%= item["total_inventory"] %></a></td>
          <td><%= item["total_sales"] %></td>
          <td><%= item["vendor"] %></td>
          <td><%= item["product_updated_at"].strftime("%m/%d/%Y") %></a>
          <td><%= item["product_published_at"].strftime("%m/%d/%Y") %></a>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
